:root {
  font-family: "Raleway", "Courier New", Courier, monospace;
  --accent-color: rgb(94, 191, 94);
}
@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Italic-VariableFont_wght.ttf");
}

body {
  background: rgb(239, 239, 239);
}
.portrait {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header-modal h1 {
  text-align: left;
  color: rgb(255, 255, 255);
  align-self: end;
  width: 80%;
  z-index: 2;
  font-size: 2.5rem;
  margin: 0;
  margin-left: 10px;
}
.header-modal {
  position: relative;
  display: flex;
  margin: 30px;
  margin-bottom: 0;
  min-height: 300px;
  box-shadow: 3px 3px 6px grey;
}
.background-shape div {
  background: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
}
.background-shape div:first-child {
  width: 100vw;
  height: 100px;
}
.background-shape div:nth-child(2) {
  margin-top: 99px;
  width: 0;
  height: 0;
  background: 0;
  border-left: 100vw solid var(--accent-color);
  border-top: 0px solid transparent;
  border-bottom: 150px solid transparent;
}
.about-me {
  padding: 10px;
}
.about-me h1 {
  font-size: 2.5rem;
  text-align: center;
}
.about-me p {
  font-size: 1.5rem;
  color: rgb(102, 102, 102);
  line-height: 2.3rem;
}
.icons {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin: auto;
}
.icons img {
  width: 30px;
}
