* {
  margin: 0;
  box-sizing: border-box;
}
/*add image in footer*/
:root {
  font-family: "Raleway", "Courier New", Courier, monospace;
  --accent-color: rgb(94, 191, 94);
}
@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Light.ttf");
}

body {
  background: rgb(243, 243, 243);
}
p {
  font-family: "Roboto", "Courier New", Courier, monospace;
}

.portrait {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header-modal h1 {
  text-align: left;
  width: 100%;
  color: rgb(255, 255, 255);
  z-index: 2;
  font-size: 2.5rem;
  margin: 0;
  align-self: end;
  margin-left: 10px;
}
.header-modal {
  position: relative;
  display: flex;
  justify-content: start;
  margin: 30px;
  max-width: 700px;
  margin-bottom: 0;
  height: 300px;
  box-shadow: 3px 3px 6px grey;
}
.background-shape div {
  background: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.background-shape div:first-child {
  width: 100vw;
  height: 100px;
}
.background-shape div:nth-child(2) {
  margin-top: 99px;
  width: 0;
  height: 0;
  background: 0;
  border-left: 100vw solid var(--accent-color);
  border-top: 0px solid transparent;
  border-bottom: 150px solid transparent;
}
.about-me {
  padding: 15px;
  margin-bottom: 20px;
}
.about-me h1,
.your-work h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}
.about-me p {
  font-size: 1.5rem;
  color: rgb(102, 102, 102);
  line-height: 2.3rem;
  margin-bottom: 10px;
}
.about-me .icons {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin: auto;
}
.icons img {
  width: 30px;
}
.project-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 80vw;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.project {
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 2px 5px 10px rgb(176, 176, 176);
}

.project .project-img {
  width: 100%;
  height: 400px;
  margin-bottom: 0;
}
.your-work {
  width: 80vw;
  margin: auto;
}
.project .description:first-of-type {
  margin-top: -5px;
  background: rgb(235, 235, 235);
  color: grey;
  padding: 15px;
  height: 200px;
}
.project .project-img {
  height: 200px;
}

.project .description .top {
  justify-content: space-between;
  display: flex;
  height: 40px;
  margin-bottom: 20px;
}

.project .icons {
  display: flex;
  width: 70px;
  justify-content: space-between;
}
.project .summary {
  font-size: 1.2rem;
}

footer {
  background: var(--accent-color);
  color: white;
  padding: 20px;
}

footer h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}
footer h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
footer p {
  margin-bottom: 30px;
}
footer .icons {
  margin: auto;
  display: flex;
  width: 150px;
  justify-content: space-between;
}

footer .icons img {
  width: 30px;
}

@media (min-width: 600px) {
  .background-shape div:first-child {
    height: 700px;
  }
  .background-shape div:nth-child(2) {
    margin-top: 699px;
    border-bottom: 500px solid transparent;
  }
  .about-me {
    width: 80%;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 30px;
    text-align: justify;
    padding: 100px 50px;
    box-shadow: 3px 3px 8px grey;
    background: white;
    z-index: 2;
  }
  .about-me p {
    font-size: 2.5rem;
  }
  .project p.summary {
    font-size: 1.5rem;
  }
  .about-me h1,
  .your-work h1 {
    font-size: 5rem;
    margin-bottom: 30px;
  }
  .about-me .icons {
    display: none;
  }
  .header-modal {
    height: 700px;
    min-width: 500px;
    margin-top: -200px;
    float: left;
    position: relative;
  }
  .header-modal picture {
    position: static;
    width: 100%;
    height: 100;
    object-fit: cover;
  }
  .header-modal h1 {
    position: absolute;
    top: 100px;
    left: 90%;
    font-size: 5rem;
    white-space: nowrap;
  }
  .project {
    width: 500px;
  }
  .your-work h1 {
    text-align: left;
  }
  footer {
    padding: 100px;
  }
  footer h2 {
    font-size: 4rem;
    margin-bottom: 50px;
  }
  footer h3 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  footer p {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  footer .icons {
    width: 400px;
    margin-left: 0;
  }
  footer .icons img {
    width: 100px;
  }
}
@media (min-width: 1500px) {
  .project {
    width: 600px;
  }
  .project .project-img {
    height: 500px;
  }
  .header-modal {
    min-width: 700px;
    height: 800px;
  }
  .header-modal h1 {
    position: static;
  }
  .about-me {
    margin-bottom: 300px;
  }
}
